/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* Dark theme */
    color: #fff; /* White text */
    line-height: 1.6;
    padding: 20px;
}

    a {
        text-decoration: none; /* Removes underline */
        color: inherit; /* Makes the link inherit the color of its parent */
    }

/* Header Styles */
header {
    text-align: center;
    padding: 50px;
    background-color: #FF4F00; /* Bold orange */
    color: white;
    margin-bottom: 40px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.social-media {
    margin-bottom: 10px;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}
/* Contact Us Section */
#contact-us {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 60px 20px;
    font-family: 'Arial', sans-serif;
}

/* Contact Info */
.contact-info {
    margin-bottom: 40px;
}

.contact-info h2 {
    font-size: 3rem;
    color: #ff9478;
    font-weight: bold;
}

.contact-info p {
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Quote Styling */
.quote-container {
    position: relative;
}

.quote {
    font-size: 3rem;
    font-weight: 700;
    color: #ff9478;
    display: inline-block;
    position: relative;
    padding: 40px 20px;
    border: 4px solid #ff9478;
    border-radius: 15px;
}

.quote::before {
    content: "“";
    font-size: 5rem;
    position: absolute;
    top: -10px;
    left: -15px;
    color: #ff9478;
}

.quote::after {
    content: "”";
    font-size: 5rem;
    position: absolute;
    bottom: -10px;
    right: -15px;
    color: #ff9478;
}

.social-media img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1); /* Adjust for white icons on dark background */
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.1);
}


header h1 {
    font-size: 4rem;
    font-weight: bold;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Blog List */
#blog-list {
    max-width: 800px;
    margin: 0 auto;
}

#blog-list article {
    margin-bottom: 40px;
    background-color: #333;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

#blog-list article:hover {
    transform: translateY(-10px); /* Slight hover effect */
}

#blog-list h2 {

    font-size: 2.5rem;
    font-weight: bold;
    color: #FF4F00;
    margin-bottom: 20px;
}

.read-more {
    text-decoration: none;
    color: #FF4F00;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
    border: 2px solid #FF4F00;
    padding: 10px 20px;
    border-radius: 5px;
}

.read-more:hover {
    background-color: #FF4F00;
    color: white;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

